.App {
  /* --foo: #7F583F;
  --width:100; */
  display: flex;
	overflow: hidden;
	flex-direction: column;
	height: 100vh;
	background-color: #282c34;
	transform: perspective(800px);
}
.App>div{

}
header {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
header>h1 {
  background-image: linear-gradient(92deg, #f66 0%, #f90 100%);
  background-clip: text;
  font-size: 50px;
  color: #f66;
  animation: hue 60s infinite linear;
  -webkit-text-fill-color: transparent;
}
main {
  --width: calc(100% / 3);
  display: grid;
  flex: 1;
  grid-template-columns:var(--width) var(--width) var(--width);
  /* grid-template-rows: 50% 50%; */
  padding: 20px;
}
main>div{
  overflow: hidden;
  /* border: 1px solid #fff; */
}
@keyframes hue {
	from {
		filter: hue-rotate(0);
	}
	to {
		filter: hue-rotate(-360deg);
	}
}